@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
    font-family: 'Nanum Myeongjo', serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f3eff5;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

h1, h2, h3 {
    cursor: pointer;
}

h3 {
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: 1px solid black;
}

h3:hover {
    background-color: black;
    color: white;
}

li {
    margin: 2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

main {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    justify-content: space-around;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60vh;
}

.info button {
    width: 33%;
    height: 5vh;
    padding: 1rem;
    margin: 1rem 0;
    color: white;
    border-radius: 1rem;
    background-color: black;
}

.info button:hover {
    color: black;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    background-color: white;

}

section h1 {
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

p {
    margin: 2rem 0;
    font-weight: bold;
    font-size: 1rem;
}

aside {
    width: 50%;
    height: 60vh;
}

aside img {
    width: 85%;
    height: 100%;
}