@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@500&family=Roboto+Mono:wght@500&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
}